name: 04 - Using Actions

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 04-using-actions/react-app
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Printing Folders
        run: ls
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install Dependencies
        run: npm ci
        # working-directory: 04-using-actions/react-app --> adding in defaults
      - name: Run Unit Tests
        run: npm run test
        # working-directory: 04-using-actions/react-app --> adding in defaults
