name: 13 - Using Caching

on:
  workflow_dispatch:
    inputs:
      use-cache:
        type: boolean
        description: Whether to execute cache step
        default: true
      node-version:
        description: Node version
        type: choice
        options:
            - 18.x
            - 20.x
            - 21.x
        default: 20.x

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 13-caching/react-app
    steps:
      # 1. Checkout the code
      # 2. Install dependencies
      # 3. Unit testing, building
      # 4. Deploy to a nonprod environment
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version}}
      - name: Install dependencies
        run: npm ci
      - name: Testing
        run: npm test
      - name: Building
        run: npm run build
      - name: Deploying to nonprod
        run: echo "Deploying to nonprod"
